<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>{{settings.pageTitle}}</legend>
<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="tipo_de_imovel">Tipo de Imóvel</label>
  <div class="col-md-4">
    <select id="tipo_de_imovel" name="tipo_de_imovel" class="form-control" ng-model="imovels.tipo_de_imovel">
      <option value="apartamento">Apartamento</option>
      <option value="casa_em_condominio">Casa em Condominio</option>
      <option value="casa_bairro">Casa Bairro</option>
      <option value="sitio">Sitio</option>
      <option value="chacara">Chacara</option>
      <option value="terreno_residencial">Terreno Residencial</option>
      <option value="terreno_industrial">Terreno Industrial</option>
      <option value="terreno_comercial">Terreno Comercial</option>
      <option value="gapao">Gapão</option>
      <option value="casa_litoral">Casa Litoral</option>
      <option value="chacara_litoral">Chacara Litoral</option>
      <option value="sobrado_bairro">Sobrado Bairro</option>
      <option value="ponto_comercial">Ponto Comercial</option>
      <option value="salao_comercial">Salão Comercial</option>
      <option value="belo_sitio">Belo Sitio</option>
      <option value="predio_comercial">Predio Comercial</option>
      <option value="imovel_comercial">Imóvel Comercial</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="negocio">Negocio</label>
  <div class="col-md-4">
    <select id="negocio" name="negocio" class="form-control" value="venda" ng-model="imovels.negocio">
      <option value="venda">Venda</option>
      <option value="aluguel">Aluguel</option>
      <option value="venda_locacao">Venda e Locação</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cidade">Cidade</label>  
  <div class="col-md-4">
  <input id="cidade" name="cidade" type="text" placeholder="" class="form-control input-md" required="" ng-model="imovels.cidade">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="bairro">Bairro</label>  
  <div class="col-md-4">
  <input id="bairro" name="bairro" type="text" placeholder="bairro" class="form-control input-md" ng-model="imovels.bairro">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="valor">Valor</label>  
  <div class="col-md-4">
  <input id="valor" name="valor" type="text" placeholder="R$" class="form-control input-md" ng-model="imovels.valor">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="area">Area</label>  
  <div class="col-md-4">
  <input id="area" name="area" type="text" placeholder="m2" class="form-control input-md" ng-model="imovels.area">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="descricao">Descrição</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="descricao" name="descricao" ng-model="imovels.descricao"></textarea>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="status">esta vendida?</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="status-0">
      <input type="checkbox" name="status" id="status" value="true" ng-model="imovels.status">
      Sim
    </label>
  </div>
  </div>
</div>

<div class="row">
<div class="form-group">
  <label class="col-md-4 control-label" for="dormitorios">dormitórios</label>  
  <div class="col-md-1">
  <input id="dormitorios" name="dormitorios" type="text" value="0" placeholder="0" class="form-control input-md" ng-model="caracteristicas.1">   
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="cozinha">cozinha</label>  
  <div class="col-md-1">
  <input id="cozinha" name="cozinha" type="text" value="0" placeholder="0" class="form-control input-md" ng-model="caracteristicas.2">   
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="sala">sala</label>  
  <div class="col-md-1">
  <input id="sala" name="sala" type="text" value="0" placeholder="0" class="form-control input-md" ng-model="caracteristicas.3">   
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="churrasqueira">churrasqueira</label>  
  <div class="col-md-1">
  <input id="churrasqueira" name="churrasqueira" type="text" value="0" placeholder="0" class="form-control input-md" ng-model="caracteristicas.4">   
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="areaServico">área de serviço</label>  
  <div class="col-md-1">
  <input id="areaServico" name="areaServico" type="text" value="0" placeholder="0" class="form-control input-md" ng-model="caracteristicas.5">   
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="garagem">garagem</label>  
  <div class="col-md-1">
  <input id="garagem" name="garagem" type="text" value="0" placeholder="0" class="form-control input-md" ng-model="caracteristicas.6">   
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="lavanderia">lavanderia</label>  
  <div class="col-md-1">
  <input id="lavanderia" name="lavanderia" type="text" value="0" placeholder="0" class="form-control input-md" ng-model="caracteristicas.7">   
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="banheiros">banheiros</label>  
  <div class="col-md-1">
  <input id="banheiros" name="banheiros" type="text" value="0" placeholder="0" class="form-control input-md" ng-model="caracteristicas.8">   
  </div>
</div>



<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="crearImovel"></label>
  <div class="col-md-4">
    <button id="crearImovel" name="crearImovel" class="btn btn-primary" ng-click="submit(imovels, caracteristicas)">{{$parent.settings.action}}</button>
  </div>
</div>

</fieldset>
</form>
